<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>O chef Gastronomia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <%- include('header'); -%>

    <div style="text-align: center">
        <h1>
            Olá <%= userName %>
        </h1>
    </div>

    <div style="text-align: center">
        <h3><%= cdReserva %></h3>
        <h4>Esse é o código para a sua reserva</h4>
    </div>

    <div style="text-align: justify">
        <span>
            Em breve entraremos em contato para confirmar todos os detalhes e efetivarmos a compra
        </span>
    </div>
    
    <%- include('footer'); -%>        
</body>
</html>
